[Desktop Entry]
Type=Application
Name=Touchegg
Comment=ChromeOS-like touchpad gesture client
Exec=touchegg --client
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
